---
# Handlers for security hardening role

- name: Restart fail2ban
  ansible.builtin.service:
    name: fail2ban
    state: restarted

- name: Reload UFW
  community.general.ufw:
    state: reloaded

- name: Save iptables rules
  ansible.builtin.shell: |
    iptables-save > /etc/iptables/rules.v4
    ip6tables-save > /etc/iptables/rules.v6
  changed_when: true

- name: Restart SSH
  ansible.builtin.service:
    name: ssh
    state: restarted
