---
# Handlers for security hardening role

- name: Restart fail2ban
  ansible.builtin.service:
    name: fail2ban
    state: restarted

- name: Reload UFW
  community.general.ufw:
    state: reloaded

- name: Restart SSH
  ansible.builtin.service:
    name: sshd
    state: restarted
